USE [master]
GO
/****** Object:  Database [TourMate_Notification]    Script Date: 7/5/2025 1:38:09 PM ******/
CREATE DATABASE [TourMate_Notification]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Notification', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Notification.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Notification_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Notification_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Notification].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Notification]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/5/2025 1:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiverAccountId] [int] NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Link] [nvarchar](255) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
